{% extends 'base.html' %} {% load static %}{% load cart_product %} {% load category %} {% load auth_extras %}{% block content %}
<div class="dropdown cart-dropdown">
  <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
    <div class="icon">
      <i class="icon-shopping-cart" title="keranjang"></i>
      {% if request.user.is_authenticated %}
      <span class="cart-count">{{request.user|cart_count}}</span>
      {% else %}
      <span class="cart-count">0</span>
      {% endif %}
    </div>
    <p>Cart</p>
  </a>

  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-cart-products">

      {% if request.user|cart_view %}

      {% for cart in request.user|cart_view %}
      <div class="product">
        {% if cart in request.user|cart_view %}
        <div class="product-cart-details">
          <h4 class="product-title">
            <a href="{% url 'product_details' cart.item.slug %}">{{cart.item.name}}</a>
            {{cart.name}}
          </h4>

          <span class="cart-product-info">
            <span class="cart-product-qty">{{cart.quantity}}</span>
            x Rp {{cart.get_total}}
          </span>
        </div>
        <!-- End .product-cart-details -->

        <figure class="product-image-container">
          <a href="product.html" class="product-image">
            <img src="{{cart.item.img.url}}" alt="product" />
          </a>
        </figure>
      {% else %}
      <h6>Kosong</h6> 
      {% endif %}
      {% if cart in request.user|cart_view %}
      
        <a href="{% url 'order:delete_cart_home_home' pk=cart.item.pk %}" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
        {% else %}
        
        {% endif %}
      </div>
      <!-- End .product -->

      {% endfor %}
      {% else %}
      <div class="product">
            Kosong
          </div>

      
{% endif %}

     
    <!-- End .cart-product -->

    <div class="dropdown-cart-total">
      {% if request.user|cart_total %}
        
      <span>Total</span>
      <span class="cart-total-price">Rp {{request.user|cart_total|floatformat:3}}</span>
      {% else %}

      {% endif %}
    </div>
    <!-- End .dropdown-cart-total -->
    {% if request.user|cart_total %}
    <div class="dropdown-cart-action">
      <p hidden>{{request.user|cart_total|floatformat:3}}</p>
      <a href="{% url 'order:cart' %}" class="btn btn-primary">View Cart</a>
      <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
    </div>
    {% else %}
    <div class="dropdown-cart-action">
      
    </div>
    {% endif %}
      
    </div>
    <!-- End .dropdown-cart-total -->
  </div>
  <!-- End .dropdown-menu -->
</div>
<!-- End .cart-dropdown -->
</div>
<!-- End .header-right -->
</div>
<!-- End .container -->
</div>
<!-- End .header-middle -->

<div class="header-bottom sticky-header">
<div class="container">
<div class="header-left">
<div class="dropdown category-dropdown" hidden>
  <a href="tes" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories"> Category <i class="icon-angle-down"></i> </a>

  <div class="dropdown-menu">
    <nav class="side-nav">
      <ul class="menu-vertical sf-arrows">
          {% for cat in request.user|category %}
          {% if not cat.childern.all %}
        <li class="item-lead"><a href="{{cat.name}}">{{cat.name}}</a></li>
        {% else %}
        <li class="item-lead"><a href="{{cat.name}}">{{cat.name}}</a>
          <ul>
              {% for subcategory in cat.childern.all %}
              <li>
                  <a href="s">{{subcategory.name}}</a>
              </li>
          </li>
                      {% endfor %}
          </ul>
      </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- End .menu-vertical -->
    </nav>
    <!-- End .side-nav -->
  </div>
  <!-- End .dropdown-menu -->
</div>
<!-- End .category-dropdown -->
</div>
<!-- End .header-left -->

<div class="header-center">
<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li class="megamenu-container active">
      <a href="{% url 'home'%}" class="sf-with-ul">Home</a>

      
    </li>
    <li>
      <a href="#" class="sf-with-ul">Menu</a>

      <ul>
        <li>
          {% for cat in request.user|category %}
          {% if not cat.childern.all %}
        <li class="item-lead"><a href="/{{cat.name}}">{{cat.name}}</a></li>
        {% else %}
        <li class="item-lead"><a href="/{{cat.name}}">{{cat.name}}</a>
          <ul>
              {% for subcategory in cat.childern.all %}
              <li>
                  <a href="{{cat.name}}">{{subcategory.name}}</a>
              </li>
          </li>
                      {% endfor %}
          </ul>
      </li>
        {% endif %}
        {% endfor %}


        

      </ul>
    </li>
{% if request.user|has_group:"operator" %}
    <li>
      <a href="{% url 'cpage' %}" class="sf-with-ul">Admin</a>

      <div class="megamenu megamenu-sm">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="menu-col">
              <div class="menu-title">Admin | Control </div>
              <!-- End .menu-title -->
              <ul>
                <li><a href="{% url 'makanan' %}">Makanan</a></li>
                <li><a href="{% url 'minuman' %}">Minuman</a></li>
                
              </ul>
            </div>
            <!-- End .menu-col -->
          </div>
          <!-- End .col-md-6 -->

          <div class="col-md-6">
            <div class="banner banner-overlay">
              <a href="category.html">
                <img src="{% static 'assets/images/menu/banner-2.jpg' %}" alt="Banner" />

                <div class="banner-content banner-content-bottom">
                  <div class="banner-title text-white">
                    New Trends<br /><span><strong>spring 2019</strong></span>
                  </div>
                  <!-- End .banner-title -->
                </div>
                <!-- End .banner-content -->
              </a>
            </div>
            <!-- End .banner -->
          </div>
          <!-- End .col-md-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .megamenu megamenu-sm -->
    </li>
{% endif %}
   
    
  </ul>
  <!-- End .menu -->
</nav>
<!-- End .main-nav -->
</div>
<!-- End .header-center -->

<div class="header-right">
<i class="la la-lightbulb-o"></i>
<p>Online<span class="highlight">&nbsp;Warung makan gresik</span></p>
</div>
</div>
<!-- End .container -->
</div>
<!-- End .header-bottom -->
</header>
<!-- End .header -->
<main class="main">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">Checkout</h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'order:cart' %}">Cart</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <div class="checkout-discount" hidden>
          <form action="#">
            <input type="text" class="form-control" required id="checkout-discount-input" />
            <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
          </form>
        </div>
        <!-- End .checkout-discount -->
        <form action="#" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-9">
              <h2 class="checkout-title">
                Rincian Penagihan</h2>
                <label for="first_name">Nama Depan</label>
                <input type="text" class="form-control col-7" name="first_name" placeholder="Nama depan">
                <label for="last_name">Nama belakang</label>

                <input type="text" class="form-control col-7" name="last_name" placeholder="Nama belakang">
                <label for="address1">Alamat</label>

                <input type="text" class="form-control col-7" name="address1" placeholder="Alamat">
                <label for="address2">Rincian Alamat</label>

                <textarea   class="form-control col-7" style="height:200px;" name="address2" placeholder="Rincian Alamat"> </textarea>
                <label for="city">Kota</label>

                <input type="text" class="form-control col-7" name="city" placeholder="Kota">
                <label for="zipcode">Kode Pos</label>

                <input type="text" class="form-control col-7" name="zipcode" placeholder="Kode Pos">
                <label for="phone_number">Nomor Telepon</label>

                <input type="text" class="form-control col-7" name="phone_number" placeholder="Nomor Telepon">
                {% comment %} {{billing_address.as_p}} {% endcomment %}
                <label for="catatan">Catatan Tambahan</label>

                <textarea   class="form-control col-7" style="height:200px;" name="catatan" placeholder="Catatan Tambahan"> </textarea>{% comment %} <label>Order notes (optional)</label> <textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea> {% endcomment %}
            </div>
            <!-- End .col-lg-9 -->
            <aside class="col-lg-3">
              <div class="summary">
                <h3 class="summary-title">Pesanan kamu</h3>
                <!-- End .summary-title -->

                <table class="table table-summary">
                  <thead>
                    <tr>
                      <th>Pesanan</th>
                      <th>Harga</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for item in order_item %}
                    <tr>
                      <td><a href="#">{{item.item.name}} </a></td>

                      {% if item.variation_total %}
                      <td>Rp {{item.variation_total|floatformat:3}}</td>
                      {% else %}
                      <td>Rp {{item.get_total|floatformat:3}}</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                    <tr class="summary-subtotal">
                      {% comment %} {% if request.user|cart_total %}
                      <td>Subtotal:</td>
                      <td>Rp {{request.user|cart_total|floatformat:3}}</td>
                      {% else %}
                      <td>Subtotal:</td>
                      <td>Rp 0.00</td>
                      {% endif %} {% endcomment %}
                      <td>Subtotal:</td>
                      <td>Rp {{order_total|floatformat:3}}</td>
                    </tr>
                    <!-- End .summary-subtotal -->
                    <tr class="summary-total">
                      <td>Total:</td>
                      <td><input type="text" class="form-control" name="total_harga" value="Rp {{order_total|floatformat:3}}" readonly></input></td>
                    </tr>
                    <!-- End .summary-total -->
                  </tbody>
                </table>
                <!-- End .table table-summary -->

                <div class="accordion-summary" id="accordion-payment">
                  <div class="card">

                    <p>
                      <label for="id_payment_method">Metode pembayaran:</label>
                      <select class="form-control" name="payment_method" id="id_payment_method">
                      <option value="Cash on delivery" selected="">Cash on Delivery</option>


                    </select>
                  </p>
                    
                </div>
                <!-- End .accordion -->

                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                  <span class="btn-text">Place Order</span>
                  <span class="btn-hover-text">Proceed to Checkout</span>
                </button>
                {% comment %} <a href="#" onclick="code()">Check </a> {% endcomment %}
              </div>
              <!-- End .summary -->
            </aside>
            <!-- End .col-lg-3 -->
          </div>
          <!-- End .row -->
        </form>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .checkout -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
<script>
function code(){
  console.log('lucu bang');
}

</script>
{% endblock content %}
