{% extends 'base.html' %} {% load static %} {% load auth_extras %}{% load category %}{% load cart_product %} {% block content %}
<div class="dropdown cart-dropdown">
  <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
    <div class="icon">
      <i class="icon-shopping-cart" title="keranjang"></i>
      {% if request.user.is_authenticated %}
      <span class="cart-count">{{request.user|cart_count}}</span>
      {% else %}
      <span class="cart-count">0</span>
      {% endif %}
    </div>
    <p>Cart</p>
  </a>

  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-cart-products">

      {% if request.user|cart_view %}

      {% for cart in request.user|cart_view %}
      <div class="product">
        {% if cart in request.user|cart_view %}
        <div class="product-cart-details">
          <h4 class="product-title">
            <a href="{% url 'product_details' cart.item.slug %}">{{cart.item.name}}</a>
            {{cart.name}}
          </h4>

          <span class="cart-product-info">
            <span class="cart-product-qty">{{cart.quantity}}</span>
            x Rp {{cart.get_total}}
          </span>
        </div>
        <!-- End .product-cart-details -->

        <figure class="product-image-container">
          <a href="product.html" class="product-image">
            <img src="{{cart.item.img.url}}" alt="product" />
          </a>
        </figure>
      {% else %}
      <h6>Kosong</h6> 
      {% endif %}
      {% if cart in request.user|cart_view %}
      
        <a href="{% url 'order:delete_cart' pk=cart.item.pk %}" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
        {% else %}
        
        {% endif %}
      </div>
      <!-- End .product -->

      {% endfor %}
      {% else %}
      <div class="product">
            Kosong
          </div>

      
{% endif %}

     
    <!-- End .cart-product -->

    <div class="dropdown-cart-total">
      {% if request.user|cart_total %}
        
      <span>Total</span>
      <span class="cart-total-price">Rp {{request.user|cart_total|floatformat:3}}</span>
      {% else %}

      {% endif %}
    </div>
    <!-- End .dropdown-cart-total -->
    {% if request.user|cart_total %}
    <div class="dropdown-cart-action">
      <p hidden>{{request.user|cart_total|floatformat:3}}</p>
      <a href="{% url 'order:cart' %}" class="btn btn-primary">View Cart</a>
      <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
    </div>
    {% else %}
    <div class="dropdown-cart-action">
      
    </div>
    {% endif %}
      
    </div>
    <!-- End .dropdown-cart-total -->
  </div>
  <!-- End .dropdown-menu -->
</div>
<!-- End .cart-dropdown -->
</div>
<!-- End .header-right -->
</div>
<!-- End .container -->
</div>
<!-- End .header-middle -->

<div class="header-bottom sticky-header">
<div class="container">
<div class="header-left">
<div class="dropdown category-dropdown" hidden>
  <a href="tes" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories"> Category <i class="icon-angle-down"></i> </a>

  <div class="dropdown-menu">
    <nav class="side-nav">
      <ul class="menu-vertical sf-arrows">
          {% for cat in request.user|category %}
          {% if not cat.childern.all %}
        <li class="item-lead"><a href="{{cat.name}}">{{cat.name}}</a></li>
        {% else %}
        <li class="item-lead"><a href="{{cat.name}}">{{cat.name}}</a>
          <ul>
              {% for subcategory in cat.childern.all %}
              <li>
                  <a href="s">{{subcategory.name}}</a>
              </li>
          </li>
                      {% endfor %}
          </ul>
      </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- End .menu-vertical -->
    </nav>
    <!-- End .side-nav -->
  </div>
  <!-- End .dropdown-menu -->
</div>
<!-- End .category-dropdown -->
</div>
<!-- End .header-left -->

<div class="header-center">
<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li class="megamenu-container active">
      <a href="{% url 'home'%}" class="sf-with-ul">Home</a>

      
    </li>
    <li>
      <a href="#" class="sf-with-ul">Menu</a>

      <ul>
        <li>
          {% for cat in request.user|category %}
          {% if not cat.childern.all %}
        <li class="item-lead"><a href="/{{cat.name}}">{{cat.name}}</a></li>
        {% else %}
        <li class="item-lead"><a href="/{{cat.name}}">{{cat.name}}</a>
          <ul>
              {% for subcategory in cat.childern.all %}
              <li>
                  <a href="{{cat.name}}">{{subcategory.name}}</a>
              </li>
          </li>
                      {% endfor %}
          </ul>
      </li>
        {% endif %}
        {% endfor %}


        

      </ul>
    </li>
{% if request.user|has_group:"operator" %}
    <li>
      <a href="{% url 'cpage' %}" class="sf-with-ul">Admin</a>

      <div class="megamenu megamenu-sm">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="menu-col">
              <div class="menu-title">Admin | Control </div>
              <!-- End .menu-title -->
              <ul>
                <li><a href="{% url 'makanan' %}">Makanan</a></li>
                <li><a href="{% url 'minuman' %}">Minuman</a></li>
                
              </ul>
            </div>
            <!-- End .menu-col -->
          </div>
          <!-- End .col-md-6 -->

          <div class="col-md-6">
            <div class="banner banner-overlay">
              <a href="category.html">
                <img src="{% static 'assets/images/menu/banner-2.jpg' %}" alt="Banner" />

                <div class="banner-content banner-content-bottom">
                  <div class="banner-title text-white">
                    New Trends<br /><span><strong>spring 2019</strong></span>
                  </div>
                  <!-- End .banner-title -->
                </div>
                <!-- End .banner-content -->
              </a>
            </div>
            <!-- End .banner -->
          </div>
          <!-- End .col-md-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .megamenu megamenu-sm -->
    </li>
{% endif %}
   
    
  </ul>
  <!-- End .menu -->
</nav>
<!-- End .main-nav -->
</div>
<!-- End .header-center -->

<div class="header-right">
<i class="la la-lightbulb-o"></i>
<p>Online<span class="highlight">&nbsp;Warung makan gresik</span></p>
</div>
</div>
<!-- End .container -->
</div>
<!-- End .header-bottom -->
</header>
<!-- End .header -->
<main class="main">
  <div class="intro-slider-container mb-5">
    <div
      class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light"
      data-toggle="owl"
      data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'
    >
      {% for i in cate2 %}
      <div class="intro-slide" style="background-image: url({{i.img.url}})">
        <div class="container intro-content">
          <div class="row justify-content-end">
            <div class="col-auto col-sm-7 col-md-6 col-lg-5">
              <!-- End .h3 intro-subtitle -->
              <mark class="intro-title">{{i.name}}</mark><br />
              <!-- End .intro-title -->

              <!-- End .intro-price -->
            </div>
            <!-- End .col-lg-11 offset-lg-1 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .intro-content -->
      </div>
      <!-- End .intro-slide -->
      {% endfor %}
    </div>
    <!-- End .intro-slider owl-carousel owl-simple -->

    <span class="slider-loader"></span
    ><!-- End .slider-loader -->
  </div>
  <!-- End .intro-slider-container -->
  <center>
    <h2 class="title text-center mb-4">Kategori Minuman</h2>
    <div class="container">
      <!-- End .title text-center -->

      <div class="cat-blocks-container d-flex" style="display: flex; gap: 20px; flex-direction: row; margin-left: 5rem">
        {% for item in cat %}
        <div class="row">
          <div class="col-6 col-sm-4 col-lg-2">
            <a href="?category={{item.id}}" class="cat-block">
              <h3 class="cat-block-title">{{item.name}}</h3>
              <!-- End .cat-block-title -->
            </a>
          </div>
          <!-- End .col-sm-4 col-lg-2 -->
        </div>
        {% endfor %}
        <!-- End .row -->
      </div>
      <!-- End .cat-blocks-container -->
    </div>
    <!-- End .container -->
  </center>
  <div class="mb-4"></div>
  <!-- End .mb-4 -->

  <!-- End .container -->

  <div class="mb-3"></div>
  <!-- End .mb-5 -->

  <div class="container new-arrivals">
    <div class="heading heading-flex mb-3">
      <div class="heading-left">
        <h2 class="title">menu</h2>
        <!-- End .title -->
      </div>
      <!-- End .heading-left -->

      <div class="heading-right">
        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist" hidden>
          <li class="nav-item">
            <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab" role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
          </li>
          {% comment %}
          <li class="nav-item">
            <a class="nav-link" id="new-tv-link" data-toggle="tab" href="#new-tv-tab" role="tab" aria-controls="new-tv-tab" aria-selected="false">TV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="new-computers-link" data-toggle="tab" href="#new-computers-tab" role="tab" aria-controls="new-computers-tab" aria-selected="false">Computers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="new-phones-link" data-toggle="tab" href="#new-phones-tab" role="tab" aria-controls="new-phones-tab" aria-selected="false">Tablets & Cell Phones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="new-watches-link" data-toggle="tab" href="#new-watches-tab" role="tab" aria-controls="new-watches-tab" aria-selected="false">Smartwatches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="new-acc-link" data-toggle="tab" href="#new-acc-tab" role="tab" aria-controls="new-acc-tab" aria-selected="false">Accessories</a>
          </li>
          {% endcomment %}
        </ul>
      </div>
      <!-- End .heading-right -->
    </div>
    <!-- End .heading -->

    <div class="tab-content tab-content-carousel just-action-icons-sm">
      <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
        <div
          class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
          data-toggle="owl"
          data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'
        >
          {% if request.user|has_group:"operator" %} {% for d in products %} {% if d.status == True %}
          <div class="product product-2">
            <figure class="product-media">
              <span class="product-label label-circle label-top" style="background: green">Tersedia</span>
              <a href="product.html">
                <img src="{{d.img.url}}" alt="Product image" class="product-image" />
              </a>

              <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
              </div>
              <!-- End .product-action -->
              {% if d.stok >= 0 %}
              <div class="product-action">
                <a href="{% url 'order:add-to-cart_home_minuman' pk=d.pk %}" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                <a href="{% url 'product_details' d.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
              </div>
              {% else %}
              <div class="product-action">
                <del class="btn-product btn-cart" style="color: red" title="Add to cart"><span>add to cart</span></del>
                <a href="{% url 'product_details' d.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
              </div>
              {% endif %}
              <!-- End .product-action -->
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">
                <a href="#">{{d.category}}</a>
              </div>
              <!-- End .product-cat -->
              <h3 class="product-title"><a href="{% url 'minuman_details' slug=d.slug %} ">{{d.name}}</a></h3>
              <!-- End .product-title -->
              <div class="product-price">Rp {{d.price|floatformat:3}}</div>
              {% if d.old_price %}
              <del class="product-price" style="color: red; font-size: 11px">Rp {{d.old_price|floatformat:3}}</del>
              {% endif %}
              <p>
                available : {{d.stok}}
                <a href="{% url 'update_stok' d.id %}"
                  ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                    <path
                      fill-rule="evenodd"
                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"
                    /></svg
                ></a>
              </p>
              <!-- End .product-price -->
              <div class="ratings-container" hidden>
                <div class="ratings">
                  <div style="width: 100%">current stok</div>
                  <!-- End .ratings-val -->
                </div>
                <!-- End .ratings -->
                <span class="ratings-text">{{d.stok}}</span>
              </div>

              <!-- End .rating-container -->
            </div>
            <!-- End .product-body -->
          </div>
          {% else %}
          <div class="product product-2">
            <figure class="product-media">
              <span class="product-label label-circle label-top" style="background: red">Tidak tersedia</span>
              <a href="product.html">
                <img src="{{d.img.url}}" alt="Product image" class="product-image" />
              </a>

              <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
              </div>
              <!-- End .product-action -->

              <div class="product-action">
                <del class="btn-product btn-cart" title="Add to cart"><span>Sedang tidak tersedia</span></del>
              </div>
              <!-- End .product-action -->
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">
                <a href="#">{{d.category}}</a>
              </div>
              <!-- End .product-cat -->
              <h3 class="product-title"><a href="{% url 'minuman_details' slug=d.slug %} ">{{d.name}}</a></h3>
              <!-- End .product-title -->
              <div class="product-price">Rp {{d.price|floatformat:3}}</div>
              {% if d.old_price %}
              <del class="product-price">Rp {{d.old_price|floatformat:3}}</del>
              {% endif %}
              <!-- End .product-price -->
              <p>
                available : {{d.stok}}
                <a href="{% url 'update_stok' d.id %}"
                  ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                    <path
                      fill-rule="evenodd"
                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"
                    /></svg
                ></a>
              </p>
              <div class="ratings-container" hidden>
                <div class="ratings">
                  <div class="ratings-val" style="width: 100%"></div>
                  <!-- End .ratings-val -->
                </div>
                <!-- End .ratings -->
                <span class="ratings-text">( 4 Reviews )</span>
              </div>
              <!-- End .rating-container -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->
          {% endif %} {% endfor %} {% else %} {% for d in products %} {% if d.status == True %}
          <div class="product product-2">
            <figure class="product-media">
              <span class="product-label label-circle label-top" style="background: green">Tersedia</span>
              <a href="product.html">
                <img src="{{d.img.url}}" alt="Product image" class="product-image" />
              </a>

              <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
              </div>
              <!-- End .product-action -->
              {% if d.stok >= 0 %}
              <div class="product-action">
                <a href="{% url 'order:add-to-cart_home_minuman' pk=d.pk %}" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                <a href="{% url 'product_details' d.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
              </div>
              {% else %}
              <div class="product-action">
                <del class="btn-product btn-cart" style="color: red" title="Add to cart"><span>add to cart</span></del>
                <a href="{% url 'product_details' d.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
              </div>
              {% endif %}
              <!-- End .product-action -->
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">
                <a href="#">{{d.category}}</a>
              </div>
              <!-- End .product-cat -->
              <h3 class="product-title"><a href="{% url 'minuman_details' slug=d.slug %} ">{{d.name}}</a></h3>
              <!-- End .product-title -->
              <div class="product-price">Rp {{d.price|floatformat:3}}</div>
              {% if d.old_price %}
              <del class="product-price" style="color: red; font-size: 11px">Rp {{d.old_price|floatformat:3}}</del>
              {% endif %}
              <p>available : {{d.stok}}</p>
              <!-- End .product-price -->
              <div class="ratings-container" hidden>
                <div class="ratings">
                  <div style="width: 100%">current stok</div>
                  <!-- End .ratings-val -->
                </div>
                <!-- End .ratings -->
                <span class="ratings-text">{{d.stok}}</span>
              </div>

              <!-- End .rating-container -->
            </div>
            <!-- End .product-body -->
          </div>
          {% else %}
          <div class="product product-2">
            <figure class="product-media">
              <span class="product-label label-circle label-top" style="background: red">Tidak tersedia</span>
              <a href="product.html">
                <img src="{{d.img.url}}" alt="Product image" class="product-image" />
              </a>

              <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
              </div>
              <!-- End .product-action -->

              <div class="product-action">
                <del class="btn-product btn-cart" title="Add to cart"><span>Sedang tidak tersedia</span></del>
              </div>
              <!-- End .product-action -->
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <div class="product-cat">
                <a href="#">{{d.category}}</a>
              </div>
              <!-- End .product-cat -->
              <h3 class="product-title"><a href="{% url 'minuman_details' slug=d.slug %} ">{{d.name}}</a></h3>
              <!-- End .product-title -->
              <div class="product-price">Rp {{d.price|floatformat:3}}</div>
              {% if d.old_price %}
              <del class="product-price">Rp {{d.old_price|floatformat:3}}</del>
              {% endif %}
              <!-- End .product-price -->
              <div class="ratings-container">
                <div class="ratings">
                  <div class="ratings-val" style="width: 100%"></div>
                  <!-- End .ratings-val -->
                </div>
                <!-- End .ratings -->
                <span class="ratings-text">( 4 Reviews )</span>
              </div>
              <!-- End .rating-container -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->
          {% endif %} {% endfor %} {% endif %} {% comment %} {% endcomment %}
          <!-- End .owl-carousel -->
        </div>
        <!-- .End .tab-pane -->
      </div>
      <!-- End .tab-content -->
    </div>
    <!-- End .container -->

    <div class="mb-6"></div>
    <!-- End .mb-6 -->

    {% endblock content %}
  </div>
</main>
